body{
	width:60%;
	margin-right:auto;
	margin-left:auto;
}

header{
	text-align:center;
}

.face{
	text-align:center;
	font-weight:bold;
}

.image{
	width:30%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:5%;
}

.image-at-mark{
	width:15px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:5%;
}

.contact{
	text-size:5px;
}
