body{
	width:320px;
	text-align:center;
}

header{
	text-align:center;
}

.face{
	text-align:center;
	font-weight:bold;
}

.image{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:5%;
}
